{
  "windows" : [
    {
      "machine_ids" : [
        { "hostname" : "{{.Hostname}}", "ip" : "{{.Ip}}" }
      ],
      "unavailability" : {
        "start" : { "nanoseconds" : 0 },
        "duration" : { "nanoseconds" : 3600000000000 }
      }
    }
  ]
}
